<!--ユーザーの詳細-->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user.id %>
  <p><%= link_to "プロフィール編集"edit_user_path %></p>
  <% end %>
  <!--プロフ画像ボタンイラスト後でlinkする-->
</div>

<!--ユーザーの投稿一覧-->

<% @book.each do |book| %>
<div>
  <%= link_to books_path(book.id) do %>
    <%= image_tag image.get_image %>
    <% end %>
    <p><%= image_tag book.user.get_profile_image(100,100) %></p>
    <p><%= book.user.name %></p>
    <p><%= book.title %></p>
    <p><%= book.body %></p>
</div>
<% end %>