

<!--ユーザーの投稿一覧-->

<% @book.each do |book| %>
<div>
  <%= link_to books_path(book.id) do %>
    <%= image_tag book.user.get_profile_image(100,100) %>
    <% end %>
    <p><%= image_tag book.user.get_profile_image(100,100) %></p>
    <p><%= book.user.name %></p>
    <p><%= book.title %></p>
    <p><%= book.body %></p>
</div>
<% end %>

