<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<body>
  <main>
    <%= flash[:notice]%>
    <p id="notice"></p>
    <div class="container px-5 px-sm-0">
      <div class="row">
        <div class="col-md-3">
          <%= render 'books/list', user: @user, book: @book_new %>
          </div>



<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th cospan="3"></th>
    </tr>
    </thead>

<tbody>
  <% @book.each do |book| %>
    <tr>
      <td>
        <%= link_to user_path(book.user_id) do %>
          <%= image_tag book.user.get_profile_image(100,100) %>
        <% end %>
      </td>


      <td>
        <%= link_to book_path(book.id) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td>
        <%= book.body %>
      </td>
    </tr>
  <% end %>

</tbody>
</table>
</div>
</div>
</div>
</main>
</body>
</html>
