<div>
  
    <div class="container px-5 px-sm-0">
    <div class="row">
    
  <h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
        <th></th>
      </tr>
    </tbody>
  </table>


 <%= link_to edit_user_path(user), class: 'btn btn-outline-secondary btn-block' do %>
 <i class="fas fa-user-cog"></i>
 <% end %>
 
     



  <h4>New book</h4>
  <%= form_with model: book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>

    </div>
  </div>
</div>