<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<body>
  <main>
    <!--フラッシュメッセージ-->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <%= render 'list', user: current_user, book: @book_new %>
         </div>
<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table">
  
<tbody>
  <tr>
  <td><%= image_tag @book.user.get_profile_image(100,100) %>
  <%= @book.user.name %></td>
  <td><%= @book.title %></td>
  <td><%= @book.body %></td>
  <td><% if @book.user == current_user %>
    <%= link_to "destroy", books_path(@book), method: :delete %>
  <% end %>
  </td>
</div>


</tbody>
</table>
</div>
</div>
</main>
</body>
</html>