<h1>book 詳細画面＋book投稿フォーム部分テンプレート前</h1>
<!--詳細画面-->
  <% @book.each do |book| %>
<dev>
  <%= image_tag @book.get_image %>
  <p>Title: <%= @book.title %></p>
  <p>opinion: <%= @book.body %></p>
  <p><%= image_tag @book.user.get_profile_image (100,100) %></p>
  <p>name:<%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "destroy", books_path(@book), method: :delete %>
  <% end %>
</dev>

